= simple_form_for [:admin, @cocktail] do |form|
  %fieldset
    %legend Cocktail Info
    .clearfix
      = form.label :name
      .input
        = form.text_field :name

  %fieldset
    %legend Ingredients
    #fields
      = form.fields_for :measured_ingredients do |mi_form|
        =render 'measured_ingredient', :form => mi_form
    = add_child_link 'Add Ingredient', :measured_ingredients
    = new_child_fields_template form, :measured_ingredients

  .actions
    = form.button :submit, :class=>'btn primary'
    = link_to 'Back', admin_cocktails_path, :class=> 'btn'

#form_templates
  = yield :form_templates
