.measured_ingredient_form_fields
  .clearfix
    = form.label :ingredient_id, 'Ingredient'
    .input
      - options = options_from_collection_for_select(Ingredient.all, :id, :name, form.object.id)
      = form.select :ingredient_id, options, :prompt => '-- Select an Ingredient --'

  .clearfix
    = form.label :measure
    .input
      = form.text_field :measure

  = remove_child_link 'Remove', form
